<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Рейсы</title>
</head>
<body>

<div th:replace="~{general::page-header}"></div>
<div class="container mt-5 ms-5 mb-5" id="main-container">
    <form class="row gy-2 gx-3 align-items-center" th:action="@{/flights}" method="get">
        <div class="col-auto">
            <label class="sr-only" for="companyName">Название компании</label>
            <input type="text" class="form-control" id="companyName" name="companyName" placeholder="Название компании" th:value="${companyName}">
        </div>
        <div class="col-auto">
            <label class="sr-only" for="departureCity">Город отправления</label>
            <input type="text" class="form-control" id="departureCity" name="departureCity" placeholder="Город отправления" th:value="${departureCity}">
        </div>
        <div class="col-auto">
            <label class="sr-only" for="arrivalCity">Город прибытия</label>
            <input type="text" class="form-control" id="arrivalCity" name="arrivalCity" placeholder="Город прибытия" th:value="${arrivalCity}">
        </div>
        <div class="col-auto">
            <label class="sr-only" for="departureDate">Дата отправления</label>
            <input type="date" class="form-control" id="departureDate" name="departureDate" placeholder="Дата отправления" th:value="${departureDate}">
        </div>
        <div class="col-auto">
            <label class="sr-only" for="arrivalDate">Дата прибытия</label>
            <input type="date" class="form-control" id="arrivalDate" name="arrivalDate" placeholder="Дата прибытия" th:value="${arrivalDate}">
        </div>
        <div class="col-auto">
            <label class="sr-only" for="MaxPrice">Максимальная стоимость</label>
            <input type="number" min="0" step="0.01" class="form-control" id="MaxPrice" name="MaxPrice" placeholder="Максимальная стоимость" th:value="${maxPrice}">
        </div>
        <div class="col-auto">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck" name="purchasable" th:checked="${purchasable}">
                <label class="form-check-label" for="autoSizingCheck">
                    Есть места
                </label>
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Поиск</button>
        </div>
    </form>

    <div class="mt-3">
        <a class="btn btn-success" th:href="@{/flight_creation}" >Создать рейс</a>
    </div>

    <table class="table table-hover table-bordered mt-3">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> ID</th>
            <th scope="col"> Дата вылета</th>
            <th scope="col"> Время вылета</th>
            <th scope="col"> Дата прилёта</th>
            <th scope="col"> Время прилёта</th>
            <th scope="col"> Время в пути</th>
            <th scope="col"> Стоимость</th>
            <th scope="col"> Страница рейса</th>
        </tr>
        </thead>
        <tr th:if="${flightList.isEmpty()}">
            <td colspan="8">Данных о рейсах не найдено</td>
        </tr>
        <tbody>
        <tr th:each="flight : ${flightList}">
            <td>
                <span th:text="${flight.id}"></span>
            </td>
            <td>
                <span th:text="${flight.departureLocalDate}"></span>
            </td>
            <td>
                <span th:text="${flight.departureLocalTime}"></span>
            </td>
            <td>
                <span th:text="${flight.arrivalLocalDate}"></span>
            </td>
            <td>
                <span th:text="${flight.arrivalLocalTime}"></span>
            </td>
            <td>
                <span th:text="${flight.getDuration()}"></span>
            </td>

            <td>
                <span th:text="${flight.price}"></span>
            </td>
            <td>
                <a th:href="@{/flight(flightId=${flight.id})}">Страница рейса</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>